@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    margin: 10px;
    max-width: 400px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

#display {
    width: 94%;
    height: 50px;
    padding: 0 10px;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-gap: 5px;
    margin: 10px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    background-color: #2b2b2b;
    color: #fff;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4a4a4a;
    
}

.op{
    color: white;
    background-color: #b90d0d;
}

.op:hover {
    background-color: #ff9999;
    color: black;
    font-weight: bolder;
}

.result{
    color: rgb(255, 252, 47);
    font-weight: bolder;
    font-size: 25px;
}

.result:hover{
    background-color: rgb(148, 146, 10);
    color: black;
}

